.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw; 
  background-color: #FDD835; 
  color: #000; 
  background-image: url('../assets/homer.png'); 
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 150px;
  box-sizing: border-box; 
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.login-logo-container {
  text-align: center;
  margin-bottom: 0.5rem; 
}

.login-logo {
  width: 150px; 
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; 
  padding: 2rem; 
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px; 
}

.login-input-container {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #0077B6;
}

.login-input-container input {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem; /* Deja espacio para el icono */
  font-size: 1rem;
  border: 2px solid #0077B6;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

.login-checkbox-container {
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
}

.login-checkbox-container label {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.login-checkbox-container input {
  margin-right: 0.5rem;
}

.login-button-container {
  width: 100%;
}

.login-button-container button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  background-color: #2f64d6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button-container button:hover {
  background-color: #ffb300;
  color: #000;
}

.auth-message-container {
  text-align: center;
  margin-top: 1rem;
}

.auth-message {
  font-size: 0.875rem;
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-content button {
  margin-top: 20px;
}
