
.title-section h1 {
  font-size: 3rem;
  color: #ff81c1; 
  font-weight: bold;
  text-shadow: 2px 2px 0px #000, 4px 4px 0px #000; 
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.06em;
  margin: 2%;
}

.highlight-text {
  font-size: 1.25rem; 
  color: #00A1E9; 
  font-weight: bold; 
  margin-bottom: 1rem;
  text-shadow: 1px 1px 0px #000;
  font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif;
}

.link-section {
  text-align: center; 
  margin-top: 2rem;
  margin: 4%;
}


.message-section {
  background-color: #1e1e1e;
  padding: 2rem;
  margin: 5%;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  border: 3px solid #FFD90F; /* Borde amarillo estilo cómic */
  font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif;
  color: #fff;
}
