.home-container {
  margin: 30px; 
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.app-logo {
  width: 100px;
  height: 100px;
  margin-right: 0px; 
}

.app-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  color: #2f64d6;
  text-align: center;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.article-card {
  flex: 1 1 calc(50% - 2rem); 
  max-width: calc(50% - 2rem);
}

@media (max-width: 768px) {
  .article-card {
    flex: 1 1 100%; 
    max-width: 100%;
  }
}

.small-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.show-more-button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  background-color: #2f64d6;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem auto;
  text-align: center;
}

.show-more-button:hover {
  opacity: 0.8;
}
