.article-card {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #000000; /* Color de texto cambiado a negro */
  font-weight: bold; /* Negrita para todo el texto */
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-repeat: no-repeat;
  font-size: 120%;
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave para el cambio de tema */
}

.article-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.6);
  z-index: 1;
}

.article-card .content {
  position: relative;
  z-index: 2;
  color: #ffffff; /* Asegura que el contenido también tenga texto negro */
  font-weight: bold; /* Negrita para el contenido */
}

.article-card h2, .article-card p {
  margin-top: 0;
  color: #e9e9e9; /* Color de texto cambiado a negro */
  font-weight: bold; /* Negrita para encabezados y párrafos */
}

.delete-button-container {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 1rem;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.article-card .delete-button {
  background-color: #bb86fc;
  border: none;
  color: #000000; /* Color del texto del botón cambiado a negro */
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold; /* Negrita para el botón */
  display: block;
}

@media (max-width: 1200px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}

@media (max-width: 768px) {
  .large-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .small-card {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}
