/* Estilos para la tarjeta de perfil */
.profile-card {
  display: flex;
  align-items: center;
  background: #2c2c2c;
  color: #ffffff;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

.profile-details {
  flex: 1;
  margin-left: 1rem;
}

.profile-details p {
  margin: 0.25rem 0;
}

.custom-user-id strong {
  color: #ff6347; 
  font-weight: bold;
  font-size: 1.1rem;
}

.profile-details strong {
  color: #ff81c1; 
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.article-list-table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  background: #1e1e1e;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.article-list-table th,
.article-list-table td {
  padding: 0.75rem 1rem;
  text-align: left;
}

.article-list-table th {
  background-color: #333333;
  color: #ffffff;
}

.article-list-table tr:nth-child(even) {
  background-color: #2c2c2c;
}

.article-list-table tr:hover {
  background-color: #3a3a3a;
}

.article-list-table a {
  color: #1e90ff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #444444;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.article-list-table a:hover {
  background-color: #1e90ff;
  color: #ffffff;
}

.button2 {
  background-color: #2f64d6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.edit-profile-button {
  margin-top: 20px;
}

.my-entries-title {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.04em;
  margin-top: 40px;
  font-size: 2.5rem;
  color: #ff81c1;
}

.loading-gif {
  display: block;
  margin: 20px auto;
  width: 200px; 
}

.form {
  background-color: #212121;
}

/* Estilos para los botones de acción en el listado de artículos */
.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.action-button {
  flex: 1;
  text-align: center;
  padding: 8px 16px;
  background-color: #444444;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #1e90ff;
}

/* Igualando tamaño de los botones */
.action-button:first-child {
  margin-right: 0.5rem;
}

.action-buttons a,
.action-buttons button {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
