@import 'bulma/css/bulma.css';


.dark-theme {
  --navbar-background-color: #222;
  --navbar-item-color: #fff;
  --icon-color: #fff;
  background-color: #222;
  color: #fff;
}

.light-theme {
  --navbar-background-color: #f8f9fa;
  --navbar-item-color: #000;
  --icon-color: #000;
  background-color: #f8f9fa;
  color: #000;
}


