@import 'bulma/css/bulma.css';

/* Variable tema oscuro */
:root {
  --background-color: rgba(18, 18, 18, 0.7); /* Transparencia en el tema oscuro */
  --text-color: #ffffff;
  --navbar-background-color: rgba(28, 28, 28, 0.9); /* Transparencia en la navbar */
  --navbar-item-color: #ffffff;
  --icon-color: #ffffff;
  --card-background-color: rgba(44, 44, 44, 0.9); /* Transparencia en las tarjetas */
  --card-text-color: #ffffff;
}

/* Tema claro variables */
.light-theme {
  --background-color: rgba(255, 255, 255, 0.3); /* Transparencia en el tema claro */
  --text-color: #aab605;
  --navbar-background-color: rgba(248, 248, 248, 0.9); /* Transparencia en la navbar */
  --navbar-item-color: #000000;
  --icon-color: #000000;
  --card-background-color: rgba(255, 255, 255, 0.9); /* Transparencia en las tarjetas */
  --card-text-color: #000000;
}

/* Apply Theme Variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave para el cambio de tema */
}

.navbar {
  background-color: var(--navbar-background-color);
  height: 90px; /* Altura de la navbar */
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  transition: background-color 0.5s ease; /* Transición suave para el cambio de tema */
}

.navbar-item {
  color: var(--navbar-item-color);
  display: flex;
  align-items: center; /* Centra los elementos verticalmente  */
}

.button.is-light {
  background-color: #ffffff;
  color: #000000;
}

.icon i {
  color: var(--icon-color);
}

.card,
.search-card {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave para el cambio de tema */
}

.logo {
  height: 100%; /* Ajusta la altura del logo */
  object-fit: contain; /* Asegura que la imagen mantenga su proporción */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e1e1e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav .profile-greeting {
  display: flex;
  align-items: center;
}

.navbar-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.large-card {
  flex: 1 1 50%;
  max-width: 50%;
}

.small-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.small-card {
  flex: 1 1 calc(33.33% - 1rem);
  max-width: calc(33.33% - 1rem);
  height: 365px; /* tamaño altura de tarjetas */
  overflow: hidden;
}

.small-card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.small-card h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Texto con puntos suspensivos si es demasiado largo */
}

.small-card p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis; /* Texto con puntos suspensivos si es demasiado largo */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita el número de líneas visibles */
  -webkit-box-orient: vertical;
}

.card {
  background: var(--card-background-color);
  color: var(--card-text-color);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave para el cambio de tema */
}

.card h2 {
  margin-top: 0;
}

.search-card {
  background: var(--card-background-color);
  color: var(--card-text-color);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave para el cambio de tema */
}

button, input, textarea, select {
  max-width: 500px;
  width: 100%;
  margin: 0.5rem auto;
  display: block;
  background-color: #a3a2a8;
  border: 1px solid #75707c;
  color: #10011a;
  padding: 0.5rem;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.show-more-button {
  margin-top: 1rem;
  background-color: #bb86fc;
  border: none;
  color: #121212;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  max-width: 200px;
  width: auto;
  margin: 1rem auto;
  display: block;
}

form button {
  max-width: 200px;
  width: auto;
  margin: 0.5rem auto;
  display: block;
}

.delete-button {
  max-width: 100px;
  width: auto;
  margin: 0.5rem auto;
  display: block;
  color: red;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.article-title {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #bb86fc;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  background-repeat: no-repeat;
}

.article-title .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.article-title h1 {
  position: relative;
  z-index: 2;
  margin: 0;
}

.article-container {
  background: linear-gradient(145deg, rgb(15, 2, 31), rgba(5, 0, 12, 1));
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.article-content {
  text-align: left;
}

.article-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.article-meta {
  color: #bb86fc;
}

.not-found-container {
  background: linear-gradient(145deg, rgb(36, 24, 51), rgba(5, 0, 12, 1));
  color: #845f97;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid #bb86fc;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.back-home-link {
  color: #bb86fc;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
}

@media (max-width: 1200px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}

@media (max-width: 768px) {
  .large-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .small-card {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
  }

  nav a {
    margin-bottom: 1rem;
  }

  .container {
    padding: 1rem;
  }

  .search-card, .card, .article-container, .not-found-container {
    padding: 1rem;
  }

  .article-title {
    font-size: 1.5rem;
  }

  button, input, textarea, select {
    max-width: 100%;
  }
}

.article-list-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: left;
}

.article-list-table th,
.article-list-table td {
  padding: 0.75rem;
  border: 1px solid #444;
  color: #e0e0e0;
}

.article-list-table th {
  background-color: #333;
  color: #bb86fc;
  text-transform: uppercase;
}

.article-list-table tr:nth-child(even) {
  background-color: #2a2a2a;
}

.article-list-table tr:hover {
  background-color: #3a3a3a;
}

.article-list-table tr td a {
  color: #bb86fc;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border: 1px solid #bb86fc;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.article-list-table tr td a:hover {
  background-color: #bb86fc;
  color: #121212;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  background: linear-gradient(145deg, rgb(57, 56, 58), rgba(5, 0, 12, 1));
  color: #e0e0e0;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave para el cambio de tema */
}

.card p {
  margin: 0.5rem 0;
}

h1, h2 {
  color: #bb86fc;
}

.profile-card {
  display: flex;
  align-items: center;
  background: #2c2c2c;
  color: #ffffff;
  padding: 1rem; 
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 600px; 
}

.profile-details {
  flex: 1;
  margin-left: 1rem; 
}

.profile-details p {
  margin: 0.25rem 0; 
}

.profile-image img {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  object-fit: cover;
}

.article-card {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-repeat: no-repeat; 
  font-size: 120%;
  transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave para el cambio de tema */
}

.article-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.article-card .content {
  position: relative;
  z-index: 2;
}

.article-card h2, .article-card p {
  margin-top: 0;
}

.article-card .delete-button {
  background-color: #bb86fc;
  border: none;
  color: #121212;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}
